<template name="frontpage">
  <div class="searchSplash">
    <div class="container">
      <h2>FIND 3D PRINTABLE MODELS</h2>
      <input type="search" name="mainSearch" class="mainSearchInput">
      <input type="submit" name="searchButton" class="searchButton" value="Search">
    </div>

  </div>

  <div class="featuredModels">
    <div class="container">
      <h2>TOP 3 WEEKLY MODELS<a href="#" class=""> BY LIKES</a></h2>
      <ul>

        
        <li>
          <h3>Robohandtoren</h3>
          <img src="modell-bilde3.jpg" class="mainModelPicture">
          <h4>Description:</h4>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore.
          </p>
          <a href="#">Buy</a>
          <a href="#">Download</a>
        </li>


        <li>
          <h3>Robohandtoren</h3>
          <img src="modell-bilde3.jpg" class="mainModelPicture">
          <h4>Description:</h4>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore.
          </p>
          <a href="#">View</a>
          <a href="#">Download</a>
        </li>
        <li>
          <h3>Robohandtoren</h3>
          <img src="modell-bilde3.jpg" class="mainModelPicture">
          <h4>Description:</h4>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore.
          </p>
          <a href="#">View</a>
          <a href="#">Download</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mainCTA">
    <div class="mainBack">
        <h2>Share your model today!</h2>
      <div class="partA">
        <ul class="ctaText">
          <li><img src="img/mini-ikon-1.png"><p>Earn money of idle models</p></li>
          <li><img src="img/mini-ikon-2.png"><p>Share and retain your rights</p></li>
          <li><img src="img/mini-ikon-3.png"><p>Promote your designs</p></li>
        </ul>
      </div>
      <div class="partB">
        <img src="img/model-house.png">
        <input id="fileupload" class="mainupload" type="file" name="files[]" multiple>
      </div>
    </div>
  </div>

  <div class="Latest">
    <div class="container">
      <h2>The Latest 3D-Print</h2>
      <p>We print each and every one of the free models that are uploaded.</p>
      <img src="modell-bilde2.jpg">
    </div>
  </div>
</template>
